.GameBoy {
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;
    width: 800px;
    height: 432px;
    margin: 0 auto;
}

.GB_Body {
    position: relative;
    width: 800px;
    height: 432px;
    background-image: url("./GB_Parts/Body3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.Center {
    position: relative;
    width: 417px;
    height: 432px;
    float: left;
}

.LOGO_Cumpany {
    position: absolute;
    top: 14px;
    left: 155.5px;
    width: 108px;
    height: 27px;
    background-image: url("./GB_Parts/LOGO_cumpany.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.Display_Mat {
    position: absolute;
    top: 55px;
    width: 417px;
    height: 340px;
    background-image: url("./GB_Parts/DisplayMat.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.Display {
    position: absolute;
    top: 30px;
    left: 34.5px;
    width: 348px;
    height: 223px;
    margin: 0 auto;

    font-family: 'MuseoModerno', cursive;
    font-size: 16px;
    color: #5B5252;
}

.Content {
    position: relative;
    top: 1px;
    width: 340px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
}

canvas {
    background-color: #eee;
}

.highlight {
    animation: flashing 1.0s ease-out;
    animation-iteration-count: infinite;
}

.Display img {
    width: 25px;
    height: 25px;
}

@keyframes flashing {
    0%   { opacity: 0.5; }
    50%  { opacity: 1;}
    100% { opacity: 0.5; }
}

.Display li {
    list-style: none;
}

.LeftSide {
    position: relative;
    width: 191.5px;
    height: 432px;
    float: left;
}

.ButtonL {
    position: relative;
    top: 8px;
    left: 20px;
    width: 152px;
    height: 61px;
    background-image: url("./GB_Parts/ButtonL.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.ButtonX {
    position: relative;
    top: 60px;
    left: 50px;
    width: 106px;
    height: 106px;
    background-image: url("./GB_Parts/ButtonX.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.ButtonC {
    position: absolute;
    top: 270px;
    left: 140px;
    width: 31px;
    height: 31px;
    background-image: url("./GB_Parts/ButtonC.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.ButtonD {
    position: absolute;
    top: 316px;
    left: 140px;
    width: 31px;
    height: 31px;
    background-image: url("./GB_Parts/ButtonD.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.ButtonCMat {
    position: absolute;
    top: 250px;
    left: 50px;
    width: 128px;
    height: 58px;
    background-image: url("./GB_Parts/ButtonCMat.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.ButtonDMat {
    position: absolute;
    top: 295px;
    left: 50px;
    width: 128px;
    height: 58px;
    background-image: url("./GB_Parts/ButtonDMat.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.RightSide {
    position: relative;
    width: 191.5px;
    height: 432px;
    float: left;
}

.ButtonR {
    position: relative;
    top: 8px;
    left: 20px;
    width: 152px;
    height: 61px;
    background-image: url("./GB_Parts/ButtonR.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.LED {
    position: absolute;
    top: 60px;
    left: 40px;
    width: 19px;
    height: 19px;
    background-image: url("./GB_Parts/LED_Green.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.ButtonA {
    position: absolute;
    top: 140px;
    left: 20px;
    width: 58px;
    height: 58px;
    background-image: url("./GB_Parts/ButtonA.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.ButtonB {
    position: relative;
    top: 50px;
    left: 90px;
    width: 58px;
    height: 58px;
    background-image: url("./GB_Parts/ButtonB.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.Speaker {
    position: relative;
    top: 110px;
    left: 10px;
    width: 122px;
    height: 86px;
    background-image: url("./GB_Parts/Speaker.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}


@media screen and (max-width: 420px) {
    
    .GameBoy {
        position: absolute;
        top: 50px;
        right: 0;
        left: 0;
        width: 347px;
        height: 187px;
        margin: 0 auto;
    }

    .GB_Body {
        position: relative;
        width: 347px;
        height: 187px;
        background-image: url("./GB_Parts/Body3.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    .Center {
        position: relative;
        width: 180px;
        height: 202px;
        float: left;
    }

    .LOGO_Cumpany {
        position: absolute;
        top: 7.5px;
        left: 67px;
        width: 47px;
        height: 12px;
        background-image: url("./GB_Parts/LOGO_cumpany.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .Display_Mat {
        position: absolute;
        top: 23.8px;
        width: 181px;
        height: 147px;
        background-image: url("./GB_Parts/DisplayMat.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .Display {
        position: absolute;
        top: 13px;
        left: 15px;
        width: 151px;
        height: 97px;
        margin: 0 auto;
        background-image: url("./GB_Parts/Display.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;

        font-family: 'MuseoModerno', cursive;        
        font-size: 4px;
        color: #5B5252;
    }

    .Contents {
        position: relative;
        top: 1px;
        width: 147px;
        height: 95px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .highlight {
        animation: flashing 1.0s ease-out;
        animation-iteration-count: infinite;
    }

    .Display img {
        width: 10.4px;
        height: 10.4px;
    }

    @keyframes flashing {
        0%   { opacity: 0.5; }
        50%  { opacity: 1;}
        100% { opacity: 0.5; }
    }

    .Display li {
        list-style: none;
    }

    .LeftSide {
        position: relative;
        width: 83px;
        height: 187px;
        float: left;
    }

    .ButtonL {
        position: relative;
        top: 4px;
        left: 11px;
        width: 66px;
        height: 26px;
        background-image: url("./GB_Parts/ButtonL.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .ButtonX {
        position: relative;
        top: 26px;
        left: 23.4px;
        width: 46px;
        height: 46px;
        background-image: url("./GB_Parts/ButtonX.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .ButtonC {
        position: absolute;
        top: 117px;
        left: 61px;
        width: 13px;
        height: 13px;
        background-image: url("./GB_Parts/ButtonC.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .ButtonD {
        position: absolute;
        top: 137px;
        left: 61px;
        width: 13px;
        height: 13px;
        background-image: url("./GB_Parts/ButtonD.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .ButtonCMat {
        position: absolute;
        top: 108px;
        left: 22px;
        width: 55px;
        height: 25px;
        background-image: url("./GB_Parts/ButtonCMat.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .ButtonDMat {
        position: absolute;
        top: 127px;
        left: 22px;
        width: 56px;
        height: 25px;
        background-image: url("./GB_Parts/ButtonDMat.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .RightSide {
        position: relative;
        width: 83.2px;
        height: 187px;
        float: left;
    }

    .ButtonR {
        position: relative;
        top: 4px;
        left: 9px;
        width: 66px;
        height: 26px;
        background-image: url("./GB_Parts/ButtonR.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .LED {
        position: absolute;
        top: 26px;
        left: 17px;
        width: 8px;
        height: 8px;
        background-image: url("./GB_Parts/LED_Green.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .ButtonA {
        position: absolute;
        top: 61px;
        left: 9px;
        width: 25px;
        height: 25px;
        background-image: url("./GB_Parts/ButtonA.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .ButtonB {
        position: relative;
        top: 22px;
        left: 39px;
        width: 25px;
        height: 25px;
        background-image: url("./GB_Parts/ButtonB.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .Speaker {
        position: relative;
        top: 57px;
        left: 4px;
        width: 53px;
        height: 38px;
        background-image: url("./GB_Parts/Speaker.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

}