@media screen and (min-width: 801px) {

    .GameBoy {
        position: absolute;
        top: 50px;
        right: 0;
        left: 0;
        width: 800px;
        height: 432px;
        margin: 0 auto;
    }
    .GB_Body {
        position: relative;
        width: 800px;
        height: 432px;
        background-image: url("./GB_Parts/Body3.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    .Center {
        position: relative;
        width: 417px;
        height: 432px;
        float: left;
    }

    .LOGO_Cumpany {
        position: relative;
        top: 14px;
        width: 108px;
        height: 27px;
        margin: 0 auto;
        background-image: url("./GB_Parts/LOGO_cumpany.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .Display_Mat {
        position: relative;
        top: 25px;
        width: 417px;
        height: 340px;
        margin: 0 auto;
        background-image: url("./GB_Parts/DisplayMat.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .Display {
        position: relative;
        top: 30px;
        width: 348px;
        height: 223px;
        margin: 0 auto;
        background-image: url("./GB_Parts/Display.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;

        padding-top: 10px;
        text-align: center;
        font-family: 'MuseoModerno', cursive;
        font-size: 18px;
        color: #5B5252;
    }
    
    .LeftSide {
        position: relative;
        width: 191.5px;
        height: 432px;
        float: left;
    }

    .ButtonL {
        position: relative;
        top: 8px;
        left: 20px;
        width: 152px;
        height: 61px;
        background-image: url("./GB_Parts/ButtonL.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .ButtonX {
        position: relative;
        top: 60px;
        left: 50px;
        width: 106px;
        height: 106px;
        background-image: url("./GB_Parts/ButtonX.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .ButtonC {
        position: absolute;
        top: 270px;
        left: 140px;
        width: 31px;
        height: 31px;
        background-image: url("./GB_Parts/ButtonC.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .ButtonD {
        position: absolute;
        top: 315px;
        left: 140px;
        width: 31px;
        height: 31px;
        background-image: url("./GB_Parts/ButtonD.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .ButtonCMat {
        position: absolute;
        top: 250px;
        left: 50px;
        width: 128px;
        height: 58px;
        background-image: url("./GB_Parts/ButtonCMat.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .ButtonDMat {
        position: absolute;
        top: 295px;
        left: 50px;
        width: 128px;
        height: 58px;
        background-image: url("./GB_Parts/ButtonDMat.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .RightSide {
        position: relative;
        width: 191.5px;
        height: 432px;
        float: left;
    }

    .ButtonR {
        position: relative;
        top: 8px;
        left: 19px;
        width: 152px;
        height: 61px;
        background-image: url("./GB_Parts/ButtonR.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .LED {
        position: absolute;
        top: 60px;
        left: 40px;
        width: 19px;
        height: 19px;
        background-image: url("./GB_Parts/LED_Green.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .ButtonA {
        position: absolute;
        top: 140px;
        left: 20px;
        width: 58px;
        height: 58px;
        background-image: url("./GB_Parts/ButtonA.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .ButtonB {
        position: relative;
        top: 50px;
        left: 90px;
        width: 58px;
        height: 58px;
        background-image: url("./GB_Parts/ButtonB.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .Speaker {
        position: relative;
        top: 110px;
        left: 10px;
        width: 122px;
        height: 86px;
        background-image: url("./GB_Parts/Speaker.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

}

@media screen and (max-width: 800px) {

    .GameBoy {
        position: absolute;
        top: 50px;
        right: 0;
        left: 0;
        width: 800px;
        height: 432px;
        margin: 0 auto;
    }
    .GB_Body {
        position: relative;
        width: 800px;
        height: 432px;
        background-image: url("./GB_Parts/Body3.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    .Center {
        width: 417px;
        height: 432px;
        float: left;
    }
    
    .Display_Mat {
        position: relative;
        top: 50px;
        width: 417px;
        height: 340px;
        margin: 0 auto;
        background-image: url("./GB_Parts/DisplayMat.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .Display {
        position: relative;
        top: 30px;
        width: 348px;
        height: 223px;
        margin: 0 auto;
        background-image: url("./GB_Parts/Display.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .LeftSide {
        position: relative;
        width: 191.5px;
        height: 432px;
        float: left;
    }
    
    .ButtonX {
        position: relative;
        top: 130px;
        left: 50px;
        width: 106px;
        height: 106px;
        background-image: url("./GB_Parts/ButtonX.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .ButtonC {
        position: relative;
        top: 44px;
        left: 140px;
        width: 31px;
        height: 31px;
        background-image: url("./GB_Parts/ButtonC.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .ButtonD {
        position: relative;
        top: 57px;
        left: 140px;
        width: 31px;
        height: 31px;
        background-image: url("./GB_Parts/ButtonD.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .ButtonCMat {
        position: relative;
        top: 140px;
        left: 50px;
        width: 128px;
        height: 58px;
        background-image: url("./GB_Parts/ButtonCMat.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .ButtonDMat {
        position: relative;
        top: 125px;
        left: 50px;
        width: 128px;
        height: 58px;
        background-image: url("./GB_Parts/ButtonDMat.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .RightSide {
        position: relative;
        width: 191.5px;
        height: 432px;
        float: left;
    }
    
    .LED {
        position: relative;
        top: 60px;
        left: 40px;
        width: 19px;
        height: 19px;
        background-image: url("./GB_Parts/LED_Green.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .ButtonA {
        position: relative;
        top: 140px;
        left: 20px;
        width: 58px;
        height: 58px;
        background-image: url("./GB_Parts/ButtonA.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .ButtonB {
        position: relative;
        top: 50px;
        left: 90px;
        width: 58px;
        height: 58px;
        background-image: url("./GB_Parts/ButtonB.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
    
    .Speaker {
        position: relative;
        top: 110px;
        left: 10px;
        width: 122px;
        height: 86px;
        background-image: url("./GB_Parts/Speaker.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

}