@media screen and (min-width: 600px) {
body {
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
}

.nav-side {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 260px;
    height: 100vh;
    background-color: gray;
    overflow-y: scroll;
}

.nav-side-search {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    font-size:10px;
    text-align: center;
    background-color: rgb(44, 192, 255);
}

.nav-side-menu {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
    background-color: darkslategray;
}

.nav-side-menu ol {
    font-size: 15px;
    color: rgb(230, 230, 230);
}

.main-content {
    position: absolute;
    top: 10px;
    left: 270px;
    width: calc( 100% - 260px );
    max-width: 800px;
    height: 1000px;
    background-color: rgb(227, 255, 195);
}

.main {
    
    width: 80%;
    margin: 0 auto;
    background-color: salmon;    
}

}